@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;400&display=swap')

* {
    font-family: 'Karla', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: .7em;
}

::-webkit-scrollbar-track {
    background: #005f73;
    border-radius: 100vw;
    margin-block: .2em;

}

::-webkit-scrollbar-thumb {
    background: #0f3e47;
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(90deg, #005f73, #9b2226);
}

@supports (scrollbar-color: #005f73 #9b2226) {
    scrollbar-color: #005f73;
    scrollbar-width: thin;
}

body {
    background-color: #9b2226;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    padding-top: 50px;
    padding-bottom: 100px;
}
.main-container h3 {
    margin-top: 40px;
    margin-bottom: 5px;
}

section {
    padding-inline: 40px;
    text-align: center;

}

.subtext {
    margin-top: 0;
    padding-bottom: 10px;
}

.fancyLink {
    text-decoration: none;
    color: #0e0e0e;
    background-image: linear-gradient(90deg, #005f73, #ee9b00);
    background-size: 0% 1px;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: 1s ease;
}

.fancyLink:hover {
    background-size: 100% 1px;
}


@media screen and (min-width: 800px) {
    .main-container {
        max-width: 700px;
        margin: auto;
    } 
}

.picture {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

img {
    height: 35px;
}

div > div {
    border: 2px solid  #0e0e0e;
    width: 90%;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin-inline: auto;
}

div p {
    font-size: 18px;
}

.social-buttons {
    width: 50%;
    padding: 20px;
    border:  none;
    display: flex;
    justify-content: center;
}

.social-buttons a img {
    margin-right: 20px;

}

.social-buttons a img:hover {
    height: 40px;
}

.image {
    width: 10%;
}

.text {
    display: flex;
    justify-content: center;
}

.mediumArticles,
.wordpress,
.github,
.atupaStaticLandingPage,
.oke,
.riddle {
    cursor: pointer;
    align-items: center;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    margin-bottom: 15px;
}


.border > * {
    border: none;
}

.border:hover {
    background-color: #005f73;
    border-radius: 9px;
    transition: .5s;
    padding-block: 3px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;

}

/*
.mediumArticles:hover {
    background-color: #005f73;
    border-radius: 9px;
    transition: .5s;
    padding-block: 3px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
}

.wordpress:hover {
    background-color: #005f73;
    border-radius: 9px;
    transition: .5s;
    padding-block: 2px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
}

.github:hover {
    background-color: #005f73;
    border-radius: 9px;
    transition: .2s;
    padding-block: 2px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
}

.atupaStaticLandingPage:hover {
    background-color: #005f73;
    border-radius: 9px;
    transition: .5s;
    padding-block: 2px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
}

.oke:hover {
    background-color: #005f73;
    border-radius: 9px;
    transition: .5s;
    padding-block: 2px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
}

.riddle:hover {
    background-color: #005f73;
    border-radius: 9px;
    transition: .5s;
    padding-block: 2px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
}
*/


footer {
    text-align: center;
}

/*Hover Styles For Mobile*/

.fancyLinkHover:hover {
    background-size: 100% 3px;
}

.atupaStaticLandingPageHover:hover {
    background-color: #005f73;
    transition: .5s;
}

.mediumArticlesHover:hover {
    background-color: #005f73;
    transition: .5s;
}

.wordpressHover:hover {
    background-color: #005f73;
    transition: .5s;
}

.githubHover:hover {
    background-color: #005f73;
    transition: .5s;
}

.okeHover:hover {
    background-color: #005f73;
    transition: .5s;
}

riddleHover:hover {
    background-color: #005f73;
    transition: .5s;
}